[submodule "tools/noiser/stb"]
	path = tools/noiser/stb
	url = https://github.com/georgeslabreche/stb.git
[submodule "tools/denoiser/stb"]
	path = tools/denoiser/stb
	url = https://github.com/georgeslabreche/stb.git
[submodule "tools/denoiser/tensorflow"]
	path = tools/denoiser/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
